﻿@{
    ViewBag.Title = "Студпрофком УАД - Благочинність";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="scrabble-tourney-wrapper">
    <h3>НАША <span>БЛАГОЧИННА ДІЯЛЬНІСТЬ</span></h3>
    <p>
        Профком студентів вже декілька років поспіль займається благочинністю. 
        Тут діють постійно проекти «Миколай про тебе не забуде» – колектив 
        профкому відвідують школи-інтернати та дитячі будинки з подарунками, 
        які збирають в Академії. 
    </p>
    <p>
        Новий проект розпочато восени 2012 р. «Я думаю, розмовляю, пишу та читаю 
        українською мовою», в якому було зібрано безліч україномовних книжок для 
        шкіл-інтернатів. Також цьогоріч колектив профкому долучився до організації 
        благочинного концерту в підтримку важкохворої Маряни Калабай. 
        Акцію підтримали львівські гурти «Патриція» та «Дзвони сонця». 
        Разом ми зібрали 7244 грн!
    </p>
    <p>
        Запрошуємо усіх студентів активно долучатись до благодійних акцій і творити добро,
        разом із Профкомом Української Академії Друкарства!
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888217452073123825"
        data-credit="false">
    </div>
</div>
