﻿@{
    ViewBag.Title = "Студпрофком УАД - Караоке в поліграфі";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="scrabble-tourney-wrapper">
    <h3>КАРАОКЕ В <span>ПОЛІГРАФІ</span></h3>
    <p>
        Щорічно у стінах академії проводиться проект «Караоке в поліграфі», адже студенти
         в УАД надзвичайно люблять поспівати. Цей проект з кожним роком розвивається і стає 
        все цікавішим.
    </p>
    <p>
        Із нетерпінням чекатимемо наступного лунання чарівних голосів в УАД!
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888216295675112481"
        data-credit="false">
    </div>
</div>
