﻿@{
    ViewBag.Title = "Студпрофком УАД - Фестивалі студентської творчості";
    Layout = "~/Views/_mainLayout.cshtml";
}

<div class="student-art-wrapper">
    <h3>ФЕСТИВАЛІ <span>СТУДЕНТСЬКОЇ ТВОРЧОСТІ</span></h3>
    <p>
        Студенти академії постійно беруть участь у молодіжних фестивалях 
        <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=43:zawkiv&Itemid=44">«Зашків»</a> 
        (приурочений до дня народження Є. Коновальця), 
        <a href="http://www.uad.lviv.ua/index.php?option=com_phocagallery&view=category&id=44:babynelito&Itemid=44">«Бабине Літо»</a> 
        (міжнародний молодіжний фестиваль  туристичної пісні), а також у фестивалях КВК: «Студентська ліга», «Галицька ліга»,
         «Нововолинська ліга» та «Ліга КВН Європа». 
    </p>
    <p>
        Наші активісти отримують перші місця, здобувають перемогу і прославляють академію. Ректорат та 
        профком студентів підтримують студентську молодь у розвитку творчих здібностей.
    </p>
    <hr />
    <div id="plusgallery"
        data-type="google"
        data-userid="116877431537615488956"
        data-album-id="5888205909249186113"
        data-credit="false">
    </div>
</div>

