* {
  box-sizing: border-box; }

a[rel=publisher] {
  display: none; }

em {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 10px solid transparent; }
  em:hover {
    border-color: #fefefe; }

h3 {
  margin: 0 0 20px 0; }
  h3.latest-news {
    margin-top: 20px; }
  h3
.title-caption {
    text-transform: lowercase;
    font-size: 13px; }

.validation-summary-errors {
  color: red; }

.add-article-button {
  float: right;
  width: 120px;
  height: 34px;
  margin-top: -4px;
  -webkit-transition: none;
  transition: none;
  background: url(/Content/Images/add-button.png) no-repeat;
  background-position: 0 0px; }
  .add-article-button:hover {
    background-position: 0 -34px; }
  .add-article-button:active {
    background-position: 0 0; }

.functional-button-group {
  position: absolute;
  bottom: 13px;
  left: 240px; }
  .functional-button-group
.functional-article-button {
    float: left;
    width: 98px;
    height: 28px;
    margin-left: 5px;
    -webkit-transition: none;
            transition: none;
    background-position: 0 0px; }
    .functional-button-group
.functional-article-button.edit {
      background: url(/Content/Images/edit-button.png) no-repeat; }
    .functional-button-group
.functional-article-button.delete {
      background: url(/Content/Images/delete-button.png) no-repeat; }
    .functional-button-group
.functional-article-button:hover {
      background-position: 0 -28px; }
    .functional-button-group
.functional-article-button:active {
      background-position: 0 0; }

p {
  line-height: 30px; }

.page-wrapper {
  width: 1024px;
  margin: 0 auto; }

body {
  padding-bottom: 30px;
  background: url(/Content/Images/body-bg.png);
  font-family: Arial, Helvetica, sans-serif; }

header {
  position: relative;
  height: 145px;
  margin-bottom: 18px;
  padding-top: 20px; }
  header
.header-logo {
    display: block;
    float: left;
    width: 164px;
    height: 125px; }
  header
.header-logo-caption {
    display: block;
    float: left;
    width: 542px;
    height: 125px;
    background: url(/Content/Images/profkom-logo-caption.png) no-repeat center; }
  header
.login-btn {
    position: absolute;
    top: 20px;
    right: 20px; }

.footer {
  overflow: hidden;
  width: 958px;
  margin: 0 auto;
  padding: 28px 0 28px 0;
  border-top: 1px solid #e1e1e1; }
  .footer
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer
.footer-menu
li {
      float: left;
      margin-left: 18px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold; }
      .footer
.footer-menu
li
a {
        color: #353434; }
        .footer
.footer-menu
li
a:hover {
          color: #70bf04; }

nav {
  position: relative;
  margin: 0px 0 0 0;
  padding: 10px 0 0 10px;
  border-bottom: 1px solid #e3e3e3;
  background: url(/Content/Images/nav-bg.png) repeat-x #fdfdfd;
  border-radius: 6px 6px 0 0; }
  nav
ul {
    margin: 0;
    padding: 0; }

.first {
  margin-left: 0; }

h4 {
  margin: 0;
  color: #70bf04;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px; }

.top-nav-menu {
  position: relative;
  display: inline-table;
  width: 100%;
  list-style: none; }
  .top-nav-menu > li {
    position: relative; }
    .top-nav-menu > li:before {
      position: absolute;
      top: 0;
      left: -16px;
      width: 1px;
      height: 52px;
      content: "";
      background: #dfdfdf; }
    .top-nav-menu > li.first:before {
      background: none; }
    .top-nav-menu > li.sub-menu-holder > a {
      background: url(/Content/Images/sub-menu-arrow-down.png) no-repeat center 40px; }
    .top-nav-menu > li.sub-menu-holder > a:hover {
      background: url(/Content/Images/sub-menu-arrow-down-hover.png) no-repeat center 40px; }
  .top-nav-menu
li {
    float: left;
    margin-left: 33px;
    border-radius: 3px; }
    .top-nav-menu
li
.top-nav-sub-menu {
      position: absolute;
      z-index: 99;
      top: 100%;
      display: none;
      padding: 1px 0 2px;
      list-style: none;
      background: #353434;
      border-radius: 4px; }
      .top-nav-menu
li
.top-nav-sub-menu.second-level {
        top: 0;
        left: 100%;
        display: none; }
      .top-nav-menu
li
.top-nav-sub-menu
li {
        position: relative;
        float: none;
        width: 100%;
        margin: 0;
        white-space: nowrap;
        border-bottom: 1px solid #4c4a4a;
        font-weight: normal; }
        .top-nav-menu
li
.top-nav-sub-menu
li
a {
          padding: 7px 20px 9px;
          letter-spacing: 0;
          color: #b2b2b2;
          font-size: 12px; }
          .top-nav-menu
li
.top-nav-sub-menu
li
a:hover {
            color: #fff; }
        .top-nav-menu
li
.top-nav-sub-menu
li:hover {
          background: none; }
        .top-nav-menu
li
.top-nav-sub-menu
li.last {
          border: none; }
    .top-nav-menu
li
.sub-menu-arrow {
      position: absolute;
      top: 17px;
      right: 10px;
      display: block;
      width: 3px;
      height: 5px;
      background: url(/Content/Images/sub-menu-arrow-right.png) no-repeat center; }
    .top-nav-menu
li:hover {
      background: url(/Content/Images/menu-hover.png); }
      .top-nav-menu
li:hover
a {
        color: #fff; }
      .top-nav-menu
li:hover > .sub-menu-arrow {
        background: url(/Content/Images/sub-menu-arrow-right-hover.png) no-repeat center; }
      .top-nav-menu
li:hover
.top-nav-sub-menu.first-level {
        display: block; }
        .top-nav-menu
li:hover
.top-nav-sub-menu.first-level
li:hover > .second-level {
          display: block; }
    .top-nav-menu
li
a {
      position: relative;
      display: block;
      padding: 11px 18px 16px;
      text-decoration: none;
      letter-spacing: -1px;
      text-transform: uppercase;
      color: #353434;
      font-family: sans-serif;
      font-size: 21px;
      font-weight: bold;
      font-weight: bold;
      line-height: 25px; }

.white-container {
  background: #fff; }

.panes-wrapper {
  padding: 28px; }
  .panes-wrapper
.left-pane {
    float: left;
    width: 620px;
    margin: 0 10px 0 10px;
    padding-bottom: 20px; }
    .panes-wrapper
.left-pane
h3 {
      margin-bottom: 21px;
      padding: 14px 20px 14px 19px;
      letter-spacing: -1px;
      text-transform: uppercase;
      color: #353434;
      background: #f4f4f4;
      font-size: 21px;
      line-height: 26px; }
      .panes-wrapper
.left-pane
h3
span {
        color: #70bf04; }
  .panes-wrapper
.right-pane {
    float: right;
    width: 300px;
    margin: 0 10px 0 10px; }
    .panes-wrapper
.right-pane
.close-events {
      position: relative;
      width: 100%;
      padding: 13px 10px 17px 20px;
      background: url(/Content/Images/event-bg.jpg) no-repeat;
      background-size: cover;
      font-family: sans-serif; }
      .panes-wrapper
.right-pane
.close-events
h2 {
        margin: 0;
        padding: 0;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
        font-size: 21px;
        font-weight: 700;
        line-height: 26px; }
    .panes-wrapper
.right-pane
.event {
      overflow: hidden;
      margin-top: 20px; }
      .panes-wrapper
.right-pane
.event
time {
        margin-bottom: 5px; }
      .panes-wrapper
.right-pane
.event
.event-icon-link {
        position: relative;
        display: inline-block;
        float: left; }
        .panes-wrapper
.right-pane
.event
.event-icon-link
.event-icon {
          float: left;
          width: 101px;
          margin-right: 15px;
          border: 3px solid #fff; }
        .panes-wrapper
.right-pane
.event
.event-icon-link
em {
          width: 101px; }
      .panes-wrapper
.right-pane
.event
.event-tite {
        display: block;
        margin-bottom: 15px;
        color: #fff;
        font-size: 13px;
        font-weight: bold; }
        .panes-wrapper
.right-pane
.event
.event-tite:hover {
          color: black; }
      .panes-wrapper
.right-pane
.event
.event-short-description {
        color: #fff;
        font-size: 12px; }
    .panes-wrapper
.right-pane
.show-all-news {
      display: inline-block;
      margin: 20px 0 0 0;
      color: #fff;
      font-size: 13px; }
      .panes-wrapper
.right-pane
.show-all-news:hover {
        color: #000; }
    .panes-wrapper
.right-pane
.partner-links {
      margin: 60px 0 20px 0;
      padding: 15px;
      padding: 20px;
      text-align: center;
      background: #f4f4f4; }
      .panes-wrapper
.right-pane
.partner-links
h3 {
        margin: 0 0 20px 0;
        text-align: left; }
        .panes-wrapper
.right-pane
.partner-links
h3
span {
          color: #70bf04; }
      .panes-wrapper
.right-pane
.partner-links
a {
        display: inline-block;
        margin-bottom: 20px; }
        .panes-wrapper
.right-pane
.partner-links
a
img {
          border: 1px solid #70bf04; }

.slide-show {
  position: relative;
  width: 100%;
  margin: 0 10px 0 10px; }
  .slide-show
.slide-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    padding: 15px 0 0 18px;
    background: rgba(53, 52, 52, 0.9); }
    .slide-show
.slide-caption
time {
      display: block;
      color: #70bf04;
      font-weight: bold; }
    .slide-show
.slide-caption
a {
      margin: -3px 0 -1px;
      color: #fff;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px; }
      .slide-show
.slide-caption
a:hover {
        color: #70bf04; }

.slide-show-pagination {
  position: relative;
  width: 100%;
  margin-top: 15px; }

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #70bf04; }
  a:hover {
    color: #353434; }

.date-label {
  display: inline-block;
  margin-bottom: 15px;
  padding: 1px 9px 3px;
  color: #fff;
  border-radius: 2px;
  background: #379b01;
  font-size: 12px;
  font-weight: bold; }

.show-all-news {
  margin-left: 20px;
  padding-right: 10px;
  background: url(/Content/Images/show-all-arrow.png) no-repeat right;
  font-weight: bold; }

article {
  position: relative;
  overflow: hidden;
  min-height: 180px;
  margin-bottom: 19px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-size: 12px; }
  article
.read-more {
    position: absolute;
    right: 20px;
    bottom: 12px;
    display: block;
    font-size: 14px; }
  article
.image-frame {
    position: relative;
    display: block;
    float: left;
    margin: 0 20px 0 0; }
    article
.image-frame
img {
      width: 220px;
      max-height: 291px; }
      article
.image-frame
img:hover {
        box-shadow: inset 0 0 10px white; }
  article
h4 {
    margin-bottom: 15px; }
    article
h4
a {
      margin: 0 0 15px 0; }
  article
.article-description {
    display: block;
    width: 380px;
    max-height: 90px;
    margin-bottom: 32px;
    margin-left: 240px; }

.contacts-wrapper {
  color: #666464;
  font-size: 14px; }
  .contacts-wrapper
.contacts-address {
    display: block;
    margin: 20px 0 20px 0; }
  .contacts-wrapper
.contact-details {
    margin: 0;
    padding: 0;
    list-style: none; }
    .contacts-wrapper
.contact-details
.contact-detail-item-title {
      display: inline-block;
      width: 150px; }

.left-pane .article-details-wrapper {
  position: relative; }
  .left-pane .article-details-wrapper
time {
    font-size: 12px;
    font-weight: normal; }
    .left-pane .article-details-wrapper
time
b {
      font-size: 13px; }
  .left-pane .article-details-wrapper
p {
    text-indent: 0;
    line-height: normal; }
  .left-pane .article-details-wrapper
.functional-button-group {
    top: 14px;
    right: 20px;
    bottom: initial;
    left: initial; }

.miss-uad-wrapper
.project-logo {
  display: block;
  width: 100%;
  margin: 0 auto; }

.miss-uad-wrapper
h3 {
  font-size: 17px !important; }

.miss-uad-wrapper
.miss-list {
  margin-bottom: 30px;
  list-style: none; }
  .miss-uad-wrapper
.miss-list
.miss-item {
    margin: 15px 0 15px 0; }

.sport-events-wrapper
h5 {
  margin-bottom: 0;
  font-size: 16px; }

.sport-events-wrapper
.accordion-sport {
  margin-bottom: 40px; }

.travel-with-us-wrapper
ul {
  list-style-type: circle; }
  .travel-with-us-wrapper
ul
li {
    margin-bottom: 20px; }

.travel-with-us-wrapper
p {
  line-height: 24px; }

.magazine-archive-wrapper
.issue-item {
  float: left;
  width: 190px;
  margin: 0 0 15px 15px;
  padding-bottom: 5px;
  background: #7EC51D;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3); }
  .magazine-archive-wrapper
.issue-item
.issue-cover-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 4px; }
    .magazine-archive-wrapper
.issue-item
.issue-cover-wrapper
img {
      width: 100%; }
    .magazine-archive-wrapper
.issue-item
.issue-cover-wrapper
em {
      height: 267px; }
      .magazine-archive-wrapper
.issue-item
.issue-cover-wrapper
em:hover {
        border-color: #fff; }
  .magazine-archive-wrapper
.issue-item
.issue-caption {
    float: left;
    width: 70%;
    padding: 3px 0 0 5px;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.12); }
  .magazine-archive-wrapper
.issue-item
.issue-button-group {
    float: right;
    width: 48px;
    height: 48px;
    margin-right: 5px; }
    .magazine-archive-wrapper
.issue-item
.issue-button-group
.issue-download {
      display: block;
      width: 100%;
      height: 100%;
      background: url(/Content/Images/download-file-icon.png) no-repeat center; }

.all-news-wrapper
p
, .all-events-wrapper
p {
  line-height: normal; }

.add-article-wrapper
.editor-label {
  float: left;
  width: 165px; }
  .add-article-wrapper
.editor-label.google-pluss-album {
    font-size: 13px; }

.add-article-wrapper
.editor-field {
  overflow: hidden;
  width: 100%;
  min-height: 30px;
  line-height: 30px; }
  .add-article-wrapper
.editor-field
.field-validation-error {
    color: red; }
  .add-article-wrapper
.editor-field
.article-image-preview {
    max-width: 170px;
    max-height: 170px; }
  .add-article-wrapper
.editor-field.image-select {
    overflow: hidden; }
  .add-article-wrapper
.editor-field .text-box, .add-article-wrapper
.editor-field
#eventStartDate {
    width: 70%; }

.add-article-wrapper
textarea {
  width: 100%;
  min-height: 400px; }

.guidance-wrapper
.group-photo
, .profbureau-wrapper
.group-photo {
  width: 620px;
  height: 308px;
  background: url(/Content/Images/About/group-photo.jpg) no-repeat center; }

.guidance-wrapper
.item
, .profbureau-wrapper
.item {
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1; }
  .guidance-wrapper
.item
.top
, .profbureau-wrapper
.item.top {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e1e1e1; }
  .guidance-wrapper
.item
h4
, .profbureau-wrapper
.item
h4 {
    font-size: 22px;
    font-weight: bold; }
  .guidance-wrapper
.item
img
, .profbureau-wrapper
.item
img {
    float: left;
    width: 30%; }
  .guidance-wrapper
.item
.item-info
, .profbureau-wrapper
.item
.item-info {
    float: right;
    width: 70%;
    padding-left: 20px; }

.guidance-wrapper
.group-photo {
  background: url(/Content/Images/About/group-photo.jpg) no-repeat center; }

.profbureau-wrapper
.group-photo {
  background: url(/Content/Images/About/group-photo.jpg) no-repeat center; }

p {
  text-indent: 1.5em; }

.about-wrapper
strong {
  color: #70bf04; }

.orphans-wrapper
ul li
, .students-wrapper
ul li {
  margin-bottom: 20px; }

#EventStartDate {
  width: 43%; }

#EventStartTime {
  width: 26%;
  margin-left: 6px; }

.show-applications-link {
  float: right;
  text-decoration: underline;
  font-size: 16px;
  line-height: 25px; }

.chummeries-wrapper
h2 {
  padding-left: 1em;
  font-size: 1.2em; }

.chummeries-wrapper ol, .chummeries-wrapper
ul {
  margin: 20px 0; }
  .chummeries-wrapper ol
li
, .chummeries-wrapper
ul
li {
    line-height: 2em; }
    .chummeries-wrapper ol
li
a
, .chummeries-wrapper
ul
li
a {
      text-decoration: underline; }

.chummeries-wrapper .chummerie-application-wrapper {
  position: relative;
  width: 590px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #70bf04;
  border-radius: 5px; }

.chummeries-wrapper .chummerie-application-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 5px;
  z-index: 100; }
  .chummeries-wrapper .chummerie-application-placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.chummeries-wrapper
p {
  text-indent: 1em;
  line-height: 1.75em; }

.chummeries-wrapper
.form {
  position: relative; }
  .chummeries-wrapper
.form
.has-error label {
    color: #a94442; }

.chummeries-wrapper
.submition-indicator {
  position: absolute;
  bottom: 4px;
  left: 195px;
  display: none;
  width: 26px;
  height: 26px;
  -webkit-transition: background-image 0.4s ease-out;
  transition: background-image 0.4s ease-out;
  background: url(/Content/Images/indicator.gif) no-repeat center;
  background-size: 26px; }
  .chummeries-wrapper
.submition-indicator.success, .chummeries-wrapper
.submition-indicator.error {
    width: auto;
    padding-left: 32px;
    background-position: left;
    line-height: 26px; }
  .chummeries-wrapper
.submition-indicator.success {
    color: #70bf04;
    background-image: url(/Content/Images/success.png); }
  .chummeries-wrapper
.submition-indicator.error {
    color: #a94442;
    background-image: url(/Content/Images/error.png); }

.chummery-applications-wrapper table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 10px; }

.chummery-applications-wrapper th:first-child {
  width: 40px; }

.chummery-applications-wrapper
td {
  overflow: auto;
  white-space: nowrap; }

.chummery-applications-wrapper .table-id-header {
  width: 40px; }

.chummery-applications-wrapper .table-faculty-header {
  width: 80px; }

.chummery-applications-wrapper .table-phone-header {
  width: 109px; }

@page {
  size: landscape; }

@media print {
  header {
    display: none; }
  .show-applications-link {
    display: none; }
  .page-wrapper {
    width: 100%;
    height: 100%; }
    .page-wrapper .left-pane {
      float: none;
      clear: both;
      width: 100%;
      height: 100%; }
  .white-container nav {
    display: none; }
  .chummery-applications-wrapper h3 {
    margin-bottom: 0 !important; }
  .chummery-applications-wrapper table {
    font-size: 10px; }
    .chummery-applications-wrapper table td {
      overflow: hidden;
      width: auto !important; }
  .right-pane {
    display: none; }
  .footer {
    display: none; } }
