﻿@{
    ViewBag.Title = "Студпрофком УАД - Контакти";
    Layout = "~/Views/_mainLayout.cshtml";
}
<div class="contacts-wrapper">
    <h3>
        НАША <span>КОНТАКТНА ІНФОРМАЦІЯ</span>
    </h3>
    <iframe width="620" height="416" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D1%83%D0%BB.+%D0%9F%D0%BE%D0%B4+%D0%93%D0%BE%D0%BB%D0%BE%D1%81%D0%BA%D0%BE%D0%BC+19,+%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D1%80%D0%B0%D0%B9%D0%BE%D0%BD,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;aq=&amp;sll=49.869498,24.008667&amp;sspn=0.007786,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%9F%D0%BE%D0%B4+%D0%93%D0%BE%D0%BB%D0%BE%D1%81%D0%BA%D0%BE%D0%BC,+19,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2,+%D0%9B%D1%8C%D0%B2%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;t=p&amp;ll=49.869525,24.008646&amp;spn=0.023013,0.053129&amp;z=14&amp;output=embed"></iframe>
    <b class="contacts-address">Україна, м.Львів, вул.Під Голоском 19, кабінет 311.</b>
    <ul class="contact-details">
        <li><span class="contact-detail-item-title">Стаціонарний номер:</span> (032)242-23-98</li>
        <li><span class="contact-detail-item-title">e-mail:</span> <a href="mailto:studprofkom.uad@gmail.com">studprofkom.uad@gmail.com</a></li>
        <li><span class="contact-detail-item-title">Час роботи:</span> пн-пт, 10-00 - 16-30</li>
    </ul>
</div>