﻿@{
    ViewBag.Title = "Студпрофком УАД - Галерея";
    Layout = "~/Views/_mainLayout.cshtml";
}
<div class="gallery-wrapper">
    <h3>ФОТО 
        <span>ГАЛЕРЕЯ</span>
    </h3>
    <div id="plusgallery"
        data-type="google"
        data-userid="113056928089793738016"
        data-credit="false">
    </div>
</div>
